.commit-card {
    display: inline-block;
    vertical-align: top;
    margin: 20px;
    background-color: #EDF7FC;
    padding: 5px 10px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px #0d6efd;
    transition: all 150ms ease-in-out;
    animation: eMLfYp 300ms linear;
    width: 60%;
    text-align: left;
  }